%p#notice= notice

%h1 
  = @project.name


%h3
  Members

%ul
  - @project.users.each do |user|
    %li= user.name

%p
  = render 'join_form' if user_signed_in?
 

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path

